name: Retrieve GCP Secrets

on: workflow_dispatch

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}

jobs:
  get-secrets:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    # Configure Workload Identity Federation and generate an access token.
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v1'
      with:
        token_format: 'access_token'
        workload_identity_provider: 'projects/602946033073/locations/global/workloadIdentityPools/dev-gh-pool/providers/dev-gh-pool'
        service_account: 'dev-gh-gcp-resource@gh-gcp-secrets.iam.gserviceaccount.com'
    # Install gcloud
    - name: 'Set up Google Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v1'
    # Run gcloud command to retrive secrets
    - name: 'retrieve secrets'
      run: |-
        gcloud secrets versions access "latest" --secret "my-secret"
